body {
    overflow: hidden;
}
col1 {
    width: 100%;
    height: 100%;
}

col2 {
    width: 100%;
    height: 100%;
}
.app1 {
    background: #ffe79a;
    border-radius: 50%;
    display: block;
    height: 300px;
    right: -80px;
    margin: -51px 0 0 -49px;
    position: absolute;
    top: 50%;
    width: 300px;
}
.app2 {
    background: #ffe79a;
    border-radius: 50%;
    display: block;
    height: 350px;
    right: 30%;
    margin: -51px 0 0 -49px;
    position: absolute;
    top: -180px;
    width: 350px;
}

.app3 {
    background: #ffe79a;
    border-radius: 50%;
    display: block;
    height: 300px;
    right: 68%;
    margin: -51px 0 0 -49px;
    position: absolute;
    top: 89%;
    width: 300px;
}
.table {
    position: relative;
    z-index: 1;
}
.button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
}